{% extends 'base.html' %}
{% block title %}Update Route{% endblock %}

{% block body %}

<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ form.load_title.errors }}</span>
    </div>
    <label class="control-label col-sm-2">{{ form.load_title.label_tag }}</label>
    <div class="col-sm-10">{{ form.load_title }}</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ form.load_weight.errors }}</span>
    </div>
    <label class="control-label col-sm-2">{{ form.load_weight.label_tag }}</label>
    <div class="col-sm-10">{{ form.load_weight }}</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ form.time.errors }}</span>
    </div>
    <label class="control-label col-sm-2">Time and date</label>
    <div class="col-sm-10">{{ form.time }}</div>
</div>

<input type="hidden" id="start_point_input" name="start_point" value="">
<input type="hidden" id="end_point_input" name="end_point" value="">
<input type="hidden" id="distance_input" name="distance" value="">
<input type="hidden" id="price_input" name="price" value="">

<div id="map" class="g-map"></div>

<button type="button" id="clear_button" class="btn btn-default btn-lg" onclick="clearMap()">
  Clear
</button>

<div class="form-group" id="start_point_row">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ start_point_errors }}</span>
    </div>
    <label class="control-label col-sm-2">Start point: </label>
    <div class="col-sm-10" id="start_point"></div>
</div>
<div class="form-group" id="end_point_row">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ end_point_errors }}</span>
    </div>
    <label class="control-label col-sm-2">End point: </label>
    <div class="col-sm-10" id="end_point"></div>
</div>
<div class="form-group" id="distance_row">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ distance_errors }}</span>
    </div>
    <label class="control-label col-sm-2">Distance: </label>
    <div class="col-sm-10" id="distance"></div>
</div>
<div class="form-group" id="price_row">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ price_errors }}</span>
    </div>
    <label class="control-label col-sm-2">Price: </label>
    <div class="col-sm-10" id="price"></div>
</div>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<button type="submit" id="submit_button" class="btn btn-default btn-lg">
  Create Route
</button>
</form>



<script>

var counter = 0;
var start_marker = null;
var end_marker = null;
var directionsDisplay = null;
var start_init = '{{ start_lat }}';


document.getElementById("clear_button").style.visibility= "hidden";
document.getElementById("start_point_row").style.visibility= "hidden";
document.getElementById("end_point_row").style.visibility= "hidden";
document.getElementById("distance_row").style.visibility= "hidden";
document.getElementById("price_row").style.visibility= "hidden";
document.getElementById("submit_button").disabled = true;

function initMap() {
  var directionsService = new google.maps.DirectionsService;
  directionsDisplay = new google.maps.DirectionsRenderer;
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 49.988922, lng: 36.233243}
  });

  google.maps.event.addListener(map, 'click', function(event) {
    addMarker(event.latLng, map);
  });

    if(start_init != '') {
        counter = 2;
        directionsDisplay.setMap(map);
        start_marker = new google.maps.Marker({
            position: {lat: parseFloat('{{ start_lat }}'), lng: parseFloat('{{ start_lng }}')},
            label: 'A'
          });
        end_marker = new google.maps.Marker({
            position: {lat: parseFloat('{{ end_lat }}'), lng: parseFloat('{{ end_lng }}')},
            label: 'A'
          });
        directionsService.route({
                origin: start_marker.position,
                destination: end_marker.position,
                travelMode: google.maps.TravelMode.WALKING
          }, function(response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
                var start_address = response.routes[0].legs[0].start_address;
                var end_address = response.routes[0].legs[0].end_address;
                var i = start_address.search(', Харків');
                if(i == -1){
                    i = start_address.search(', Харьков');
                }
                var j = end_address.search(', Харків');
                if(j == -1){
                    j = end_address.search(', Харьков');
                }
                document.getElementById("clear_button").style.visibility= "visible";
                document.getElementById("start_point_row").style.visibility= "visible";
                document.getElementById('start_point_input').value = start_address.substring(0,i) + '&' + start_marker.position.lat() + '&' + start_marker.position.lng();
                document.getElementById("start_point").innerHTML = start_address.substring(0,i);
                document.getElementById("end_point_row").style.visibility= "visible";
                document.getElementById("distance_row").style.visibility= "visible";
                document.getElementById("price_row").style.visibility= "visible";
                document.getElementById("end_point").innerHTML = end_address.substring(0,j);
                document.getElementById("distance").innerHTML = response.routes[0].legs[0].distance.value;
                document.getElementById("price").innerHTML = (response.routes[0].legs[0].distance.value/1000).toFixed(2);
                document.getElementById('end_point_input').value = end_address.substring(0,j) + '&' + end_marker.position.lat() + '&' + end_marker.position.lng();
                document.getElementById('distance_input').value = response.routes[0].legs[0].distance.value;
                document.getElementById('price_input').value = (response.routes[0].legs[0].distance.value/1000).toFixed(2);
                document.getElementById("submit_button").disabled = false;
                console.log(end_address.substring(0,j) + '&' + end_marker.position.lat() + '&' + end_marker.position.lng());
                directionsDisplay.setDirections(response);
            } else {
              console.log("can't get end point");
            }
            });

    }

   function addMarker(location, map) {
       directionsDisplay.setMap(map);
       if(counter == 0){
            start_marker = new google.maps.Marker({
            position: location,
            label: 'A',
            map: map
          });
           directionsService.route({
                origin: location,
                destination: {lat: 50, lng: 36},
                travelMode: google.maps.TravelMode.DRIVING
          }, function(response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
                var address = response.routes[0].legs[0].start_address;
                var i = address.search(', Харків');
                document.getElementById("clear_button").style.visibility= "visible";
                document.getElementById("start_point_row").style.visibility= "visible";
                document.getElementById('start_point_input').value = address.substring(0,i) + '&' + location.lat() + '&' + location.lng();
                document.getElementById("start_point").innerHTML = address.substring(0,i);
                console.log(address);
            } else {
              console.log("can't get start point");
            }
            });
           counter += 1;
       }
       else if (counter == 1){
           end_marker = new google.maps.Marker({
            position: location,
            label: 'B',
            map: map
          });
           directionsService.route({
                origin: start_marker.position,
                destination: location,
                travelMode: google.maps.TravelMode.WALKING
          }, function(response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
                var address = response.routes[0].legs[0].end_address;
                var i = address.search(', Харків');
                if(i == -1){
                    i = address.search(', Харьков');
                }
                document.getElementById("end_point_row").style.visibility= "visible";
                document.getElementById("distance_row").style.visibility= "visible";
                document.getElementById("price_row").style.visibility= "visible";
                document.getElementById("end_point").innerHTML = address.substring(0,i);
                document.getElementById("distance").innerHTML = response.routes[0].legs[0].distance.value;
                document.getElementById("price").innerHTML = (response.routes[0].legs[0].distance.value/1000).toFixed(2);
                document.getElementById('end_point_input').value = address.substring(0,i) + '&' + location.lat() + '&' + location.lng();
                document.getElementById('distance_input').value = response.routes[0].legs[0].distance.value;
                document.getElementById('price_input').value = (response.routes[0].legs[0].distance.value/1000).toFixed(2);
                document.getElementById("submit_button").disabled = false;
                console.log(address);
                directionsDisplay.setDirections(response);
            } else {
              console.log("can't get end point");
            }
            });
           start_marker.setMap(null);
           end_marker.setMap(null);
           counter += 1;
       }
   }
}

   function clearMap() {
       if(start_marker != null) {
           start_marker.setMap(null);
       }
       if(end_marker != null) {
           end_marker.setMap(null);
       }
       if(directionsDisplay != null){
           directionsDisplay.setMap(null);
           directionsDisplay = new google.maps.DirectionsRenderer;
       }
       document.getElementById("start_point_row").style.visibility= "hidden";
       document.getElementById("clear_button").style.visibility= "hidden";
       document.getElementById("end_point_row").style.visibility= "hidden";
       document.getElementById("distance_row").style.visibility= "hidden";
       document.getElementById("price_row").style.visibility= "hidden";
       document.getElementById("submit_button").disabled = true;
       document.getElementById('start_point_input').value = '';
       document.getElementById('end_point_input').value = '';
       document.getElementById('distance_input').value = '';
       document.getElementById('price_input').value = '';
        start_marker = null;
       end_marker = null;
       counter = 0;
   }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChIZXk87ZHoiyKUOyU7wkD3Q-LTlENuh8&signed_in=true&callback=initMap"
    async defer></script>
{% endblock %}